/* Estilos personalizados para la página de perfil */
body {
    background-color: #f8f9fa;
}

header {
    background-color: #343a40; /* Color de fondo mejorado */
    padding: 20px 0; /* Espaciado mejorado */
    border-bottom: 4px solid orange; /* Línea inferior para resaltar */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-height: 60px; /* Tamaño mejorado */
    height: auto;
}

header .btn-primary {
    background-color: orange;
    border: none;
}

header .btn-danger a {
    color: white;
    text-decoration: none;
}

header .btn-danger a:hover {
    text-decoration: underline;
}

header .btn-danger a i {
    margin-right: 5px;
}

header .fas {
    font-size: 20px;
    color: white;
    margin-left: 20px;
}


.card {
    margin: 0 auto;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
    text-align: center;
}

.card-body {
    font-size: 18px;
}

h4 {
    margin-top: 20px;
}

/* Footer */
footer {
	padding-top: 3%;
    background-color: #343a40;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas pequeñas */
}

footer .col-md-4 {
    flex: 1;
    min-width: 250px; /* Asegura un mínimo ancho para las columnas */
    margin-bottom: 20px; /* Espacio inferior para separación en pantallas pequeñas */
}

footer .col-md-4 img {
    max-height: 60px; /* Asegura que la imagen no ocupe demasiado espacio */
    height: auto;
}

footer h5, footer p {
    color: orange;
}

footer .fab {
    font-size: 24px;
    color: orange;
    margin-right: 10px;
    transition: color 0.2s;
}

footer .fab:hover {
    color: white;
}

