<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Formulario de Reserva</title>
	<link th:href="@{/css/formReserva.css}" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
	<!-- Encabezado -->
	<header class="bg-dark text-white">
		<div class="container d-flex justify-content-between align-items-center py-3">
			<div class="logo">
				<img th:src="@{/img/logo.png}" alt="Logo" width="auto">
			</div>
			<div class="d-flex align-items-center">
				<a th:href="@{/cuotas}" class="btn btn-primary mr-3">APÚNTATE</a>
				<div class="Botonsalir">
					<a th:href="@{/logout}" class="btn btn-danger">
						<i class="fas fa-sign-in-alt text-white mr-3"></i> Log Out
					</a>
				</div>
				<div>
					<a th:href="@{/admin/general}" sec:authorize="hasRole('ROLE_ADMIN')">
						<i class="fas fa-cog"></i>
					</a>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="container mt-5">
			<h2>Formulario de Reserva</h2>
			<form th:action="@{/reservarclase/submit}" method="post" th:object="${reserva}">
				<input type="hidden" name="clase_id" th:value="${clase.id}" />

				<div class="mb-3">
					<label for="socio" class="form-label">Socio Solicitante: </label>
					<p th:text="${socio.nombre}"></p>
				</div>
				<div class="mb-3">
					<label for="clase" class="form-label">Clase: </label>
					<p th:text="${clase.nombre}"></p>
					<input type="hidden" th:field="*{clase.id}" />
				</div>
				<div class="mb-3">
					<label for="fechaReserva">Fecha de Reserva:</label>
					<input type="datetime-local" id="fechaReserva" name="fecha_reserva" required />
				</div>
				<button type="submit" class="btn btn-primary">Reservar Clase</button>
			</form>

			<div th:if="${error}" style="color: red;">
				<p th:text="${error}"></p>
			</div>
		</div>
	</main>

	<footer class="bg-dark text-white py-4">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img th:src="@{/img/logo.png}" alt="Logo" width="auto">
				</div>
				<div class="col-md-4">
					<h5>Síguenos en nuestras redes sociales</h5>
					<i class="fab fa-instagram mx-2"></i>
					<i class="fab fa-twitter mx-2"></i>
					<i class="fab fa-facebook mx-2"></i>
				</div>
				<div class="col-md-4">
					<h5>Derechos de privacidad</h5>
					<p>Todos los derechos reservados &copy; 2024 Gimnasio XYZ. Política de privacidad y términos de uso.
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>