<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Socios del Gym</title>
	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<link rel="stylesheet" href="../static/css/socios.css" th:href="@{/css/socios.css}" />
</head>

<body>
	<header th:replace="~{fragments/cabeceraAdmin :: encabezado}"></header>
	<main>
		<div id="menu">
			<a th:href="@{/admin/general}">Volver a la vista general del administrador</a> |
			<a th:href="@{/admin/socio/nuevo}">Nuevo Socio</a>
		</div>
		<br /><br />

		<div class="container">
			<form th:action="@{/admin/socios/buscar}" method="post" class="form-inline mb-3">
				<div class="form-group mx-sm-3 mb-2">
					<input type="text" name="query" class="form-control" placeholder="Buscar por nombre o apellidos">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Buscar</button>
			</form>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellidos</th>
					<th>Email</th>
					<th>Dirección</th>
					<th>Operaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="socio : ${socios}">
					<td th:text="${socio.id}">1</td>
					<td th:text="${socio.nombre}">Nombre</td>
					<td th:text="${socio.apellidos}">Apellidos</td>
					<td th:text="${socio.gmail}">Email</td>
					<td th:text="${socio.direccion}">Dirección</td>
					<td>
						<a th:href="@{/admin/socio/editar/{id}(id=${socio.id})}" class="btn btn-primary" width="20%"> <i class="fas fa-pencil-square"></i></a>
						<a class="btn btn-danger" data-toggle="modal" th:attr="data-target='#removeSocio-' + ${socio.id}" width="20%"><i class="fa-solid fa-trash-can"></i></a>
								<div class="modal fade text-black" th:id="'removeSocio-' + ${socio.id}">
									<div class="modal-dialog remove">
										<div class="modal-content">
											<div class="modal-header bg-primary border-1">
												<h4 class="modal-title mx-auto text-white">¿Estás seguro?</h4>
												<button type="button" class="btn-close mx-0"
													data-dismiss="modal"></button>
											</div>
											<div class="modal-body bg-white">
												<p class="text-dark mb-4">¿Quieres borrar este Socio?</p>
												<div class="d-grid gap-2">
													<a class="btn btn-danger btn-lg"
														th:href="@{/admin/socio/borrar/{id}(id=${socio.id})}">
														<i class="bi bi-trash me-2"></i> Borrar Socio
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

	<!-- Footer -->
	<footer th:replace="~{fragments/footerAdmin :: footer}"></footer>

	<!-- Bootstrap JS (opcional, solo si necesitas funcionalidades de JavaScript de Bootstrap) -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>